@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Mukta&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilos body*/
body {
    min-width: 300px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Mukta', sans-serif;
}
/*estilos para heder nav y menu */
.menu {
    display: none;
}

@media (min-width:970px) {
    header {
        width: 100%;
        height: 70px;
        background: linear-gradient(#004d5e 0%, #1188A4 30%, rgb(182, 214, 247) 100%);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: fixed;
        margin-top: 0;
        box-shadow: 0 0 10px rgb(119 112 112);
    }

    .menu-media {
        height: 265px;
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
    }


    .menu-media li {
        display: inline-block;
        padding: 0 20px 180px 20px;
    }

    li a {
        color: black;
        font-weight: 400;
    }

    .contacto {
        color: black;
        padding: 2px 5px 2px 5px;
        text-align: center;
        border-radius: 20px;
        background-color: #d4f0f7;

    }

    .a_menu:hover {
        color: white;
    }

    .contacto:hover {
        color: black;
        box-shadow: 0 0 20px rgba(0, 255, 221, 0.6);
    }

}

main {
    display: flex;
    flex-direction: column;
}

.seccion_hola {
    height: 100%;
}

/*seccion de saludo inicial  estilos y media query*/


#hola {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    scroll-margin-top: 50px
}

@media (min-width:970px) {
    #hola {
        max-width: 1100px;
        height: 100%;
        margin-top: 80px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 190px 20px;

    }
}


@media (min-width:970px) {
    .seccion_hola {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.hola--presentacion {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

@media (min-width:970px) {
    .hola--presentacion {
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 100px;
    }
}

.imagen-chica {
    width: 365px;
    height: 365px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;

}

img {
    display: block;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
}

h1 {
    color: #1188A4;
    font-size: 4rem;
    text-shadow: 3px 1px 4px rgb(184, 183, 183);
}

.boton {
    border-radius: 20px;
    padding: 9px 25px 9px 25px;
    text-align: center;
    border-radius: 30px;
    background-color: #1188A4;
}

/*coloque hover para que los botones tengan un efecto cuando se haga click en ellos */
.boton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
}

a {
    color: white;
    text-decoration: none;
}

.saludos {
    color: black;
    font-size: 2.3rem;
    font-weight: 900;
}

.saludo__desarrollo {
    font-size: 1.5;
    color: rgb(90, 90, 90);
    text-align: center;
}

@media (min-width:970px) {
    .saludo__desarrollo {
        text-align: left;
    }
}

.texto_centrar,
.texto_contacto {
    font-size: 1.3rem;
    color: rgb(75 74 74);
    text-align: center;
    max-width: 1100px;
}



.texto_contacto {
    text-align: left;
    text-wrap: balance;
}

/*seccion de conocimientos y media query*/

.section_conocimientos {
    background-color: #e7f5f8;

}

#conocimientos {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

@media (min-width:970px) {
    #conocimientos {
        padding: 117px 20px;
    }
}

.contenedor-conocimientos {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;

}

@media (min-width:970px) {
    .contenedor-conocimientos {
        width: 781px;
    }
}

.icono {
    width: 128px;
    height: 128px;
    border: 2px solid rgb(129, 129, 129);
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.6s ease;
}

@media (min-width:970px) {
    .icono {
        width: 200px;
        height: 200px;
    }
}


.icono:hover {
    background-color: rgb(243, 246, 248);
    box-shadow: 0 0 30px rgb(38, 181, 224);
    border: #1188A4;
    border-radius: 100px;
}


h2 {
    font-size: 2.1rem;
    font-weight: 900;
}

@media (min-width:970px) {
    h2 {
        font-size: 2.5rem;
    }
}

i {
    font-size: 60px;
}

.icono_html{
    color: #e54d26;
}

.icono_css {
    color: #3d8fc6;
}

.icono_sass {
    color: #c69;
}

.icono_java {
    color: #f0db4f;
}

.icono_react {
    color: #61dafb;
}

.icono_git {
    color: #f34f29;
}
 
/*frase en la mitad de la web*/
.frase {
    height: 100%;
    background-color: #1188A4;
    padding: 140px 20px 140px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.comillas {
    font-size: 3rem;
    color: rgb(75 74 74);
}


@media (min-width:970px) {
    .frase {
        height: 200px;
    }
}

span {
    display: block;
    font-weight: 900;
    font-size: 1.56rem;
}

/*seccion de proyectos realizados y su media query*/

#proyectos {
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    margin-top: 60px;
    gap: 20px;

}

.proyectos_contenedor {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:970px) {
    .proyectos_contenedor {
        flex-direction: row;
        width: 940px;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}



.proyecto_imagen {
    width: 264px;
    height: 264px;
    border: 2px solid rgb(219, 216, 216);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.proyecto_imagen:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 10px 0 30px rgb(38, 181, 224);
}




.imagen_nombre {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem
}


#contacto {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-margin-top: 100px;
    max-width: 1100px;
}

@media (min-width:970px) {
    #contacto {
        flex-direction: row;
        border: 1px solid rgb(156, 154, 154);
        border-radius: 20px;
        width: 85%;
        height: 90%;
        justify-content: space-evenly;
        margin: 50px;
        padding: 15px;
        gap: 17px;
        background-color: white;
        box-shadow: 0 0 10px rgb(180, 180, 180);
    }
}

@media (min-width:970px) {
    .secion_contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #e7f5f8;

    }
}

.contactame {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.iconos_contacto {
    color: black;
    font-size: 1.1rem;
    display: flex;
    gap: 6px;
}

.iconos_contacto:hover {
    color: rgb(13, 147, 236);
    text-shadow: 0 0 30px rgb(38, 181, 224);
}


.redes {
    height: 265px;
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.color_icono_hover {
    font-size: 1.56rem;
    color: #1188A4;
}

.color_icono_hover:hover {
    color: rgb(13, 147, 236);
    text-shadow: 0 0 30px rgb(38, 181, 224);
}

.redes_iconos {
    padding: 10px;
    gap: 6px;
}

.redes_iconos .iconos_contacto {
    margin-left: 5px;
}

.formulario {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input,
textarea {
    padding: 9px;
    border: none;
    background-color: rgb(236, 250, 250);
    border-radius: 10px;
    margin-top: 7px;
    outline: none;
}

textarea:valid:focus,
.form_input:valid:focus {
    box-shadow: 0 0 8px rgba(0, 255, 221, 0.6);
}

.form_input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
    box-shadow: 0 0 8px red;
}

.form_input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}

.form_input:valid,
textarea:valid {
    border: 1px solid rgb(0, 255, 42);
}

label {
    font-size: 1.2rem;
    font-weight: 500;
}

footer {
    height: 100%;
    width: 100%;
    background-color: #1188A4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pie_redes {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.footer_menu {
    display: none;
}

@media (min-width:970px) {
    .footer_menu {
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    .footer_menu li {
        display: inline-block;
        padding: 0 20px 0 20px;
    }
}

.pie_iconos {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;

}

.final_footer {
    font: size 1.5rem;
    padding-bottom: 40px;
}