@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Mukta&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 300px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Mukta', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.menu {
    display: none;
}
@media (min-width:970px) {
    header{
        width: 100%;
        height: 70px;
        background-color: #1188A4;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: fixed;
        margin-top: 0;
        
    }
    .menu-media{
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .menu-media li{
        margin: 43px;
        font-size: 1.3em;
        margin-bottom: 100px;
    }
    li a{
        color: black;
        font-weight: 400;
    }
    .contacto{
        color: black;
        padding: 2px 5px 2px 5px;
        text-align: center;
        border-radius: 20px;
        background-color: aliceblue;
    }
    a:hover{
        color: white;
    }
    .contacto:hover {
        color:black;
        box-shadow: 0 0 20px rgba(0, 255, 221, 0.6);
    }

}

#hola {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    padding: 20px;
}

.hola--presentacion {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.imagen-chica {
    width: 365px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;

}
img{
    display: block;
    width: 100%;
}

h1 {
    color: #1188A4;
    font-size: 4em;
    text-shadow: 3px 1px 4px rgb(184, 183, 183);
}

.boton {
    font-size:0.8em;
    color: white;
    height: 40px;
    width: 128px;
    background-color: #1188A4;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

/*coloque hover para que los botones tengan un efecto cuando se haga click en ellos */
.boton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
}

a {
    color: white;
    text-decoration: none;
}

.saludos {
    color: black;
    font-size: 2.3em;
    font-weight: 900;
}

.saludo__desarrollo {
    font-size:2em;
    color: rgb(90, 90, 90);
    text-align: center;
}

p, .texto_contacto {
    font-size: 1.3em;
    color: rgb(90, 90, 90);
    text-align: center;
}
.texto_contacto{
    text-align: left;
}

#conocimientos {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;

}

.contenedor-conocimientos {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;

}

.icono {
    width: 128px;
    height: 128px;
    border: 1px solid rgb(216, 215, 215);
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.icono:hover {
    border: 2px solid #1188A4;

}

h2 {
    font-size: 2.1em;
    font-weight: 900;
}

i {
    font-size: 60px;
}

.fa-html5 {
    color: #e54d26;
    ;
}

.fa-css3-alt {
    color: #3d8fc6;
}

.fa-sass {
    color: #c69;
}

.fa-js {
    color: #f0db4f;
}

.fa-react {
    color: #61dafb;
}

.fa-git-alt {
    color: #f34f29;
}

.frase {
    height: 100%;
    background-color: #1188A4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

span {
    display: block;
    font-weight: 900;
    font-size: 25px;
}

.proyectos_contenedor {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto_imagen {
    width: 300px;
    border: 2px solid rgb(219, 216, 216);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.proyecto_imagen:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
}


#proyectos {
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    gap: 20px;
}

.imagen_nombre {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size: 1.5em
}
#contacto{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactame {
    height:50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.iconos_contacto {
    color: black;
    font-size:1.1em;
}

ul {
    height: 265px;
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fa-github-alt,
.fa-linkedin,
.fa-envelope {
    font-size: 25px;
    color: #1188A4;
}

.redes_iconos {
    padding: 10px;
}

.formulario {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input,
textarea {
    padding: 5px;
    border: none;
    background-color: rgb(236, 250, 250);
    border-radius: 10px;
    margin-top: 7px;
    outline: none;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 8px rgba(0, 255, 221, 0.6);

}

label {
    font-size: 1.2em;
    font-weight: 500;
}

footer {
    background-color: #1188A4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.pie_redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pie_iconos {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;

}