@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Mukta&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Mukta', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
}

.menu {
    display: none;
}

#hola {
    height: 563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    padding: 10px;
}

.hola--presentacion {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.imagen-chica {
    width: 365px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;

}

h1 {
    color: #1188A4;
    font-size: 60px;
    text-shadow: 3px 1px 4px rgb(184, 183, 183);
}

.boton {
    height: 40px;
    width: 128px;
    background-color: #1188A4;
    border: none;
    border-radius: 20px;
}

/*coloque hover para que los botones tengan un efecto cuando se haga click en ellos */
.boton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

a {
    color: white;
    text-decoration: none;
}

.saludos {
    color: black;
    font-size: 40px;
    font-weight: 900;
}
.saludo__desarrollo{
    font-size: 30px;
    color: rgb(90, 90, 90);
    text-align: center;
}
p {
    font-size: 20px;
    color: rgb(90, 90, 90);
    text-align: center;
}

#conocimientos {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f5fdfd;
    border-radius: 20px;
    margin-top: 50px;

}

.contenedor-conocimientos {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;

}

.icono {
    width: 128px;
    height: 128px;
    border: 1px solid rgb(216, 215, 215);
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

h2 {
    font-size: 30px;
}

i {
    font-size: 60px;
}

.fa-html5 {
    color: #e54d26;
    ;
}

.fa-css3-alt {
    color: #3d8fc6;
}

.fa-sass {
    color: #c69;
}

.fa-js {
    color: #f0db4f;
}

.fa-react {
    color: #61dafb;
}

.fa-git-alt {
    color: #f34f29;
}
.frase{
    height: 200px;
    background-color:  rgba(49, 138, 172, 1);
    display: flex;
    align-items: center;

}
span{
    display: block;
    font-weight: 900;
    font-size: 25px;
}
.proyectos_contenedor{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyecto_imagen{
    width: 320px;
    border: 2px solid rgb(219, 216, 216);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
}